<div class="wrapper">
  <app-chart></app-chart>
  <div class="chart-info">
    <h4 class="chart-info__date">Dec 2 - Dec 8, 2018</h4>
    <div class="chart-info__cards">
      <mat-card color="primary">
        <mat-card-content>
          <div class="card-content">
            <h5>Average Time</h5>
            <h1>7 h 30m</h1>
            <button mat-flat-button color="primary">Details</button>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <div class="card-content">
            <h5>Sleep Quality</h5>
            <h1>85/ <span>100</span></h1>
            <button mat-flat-button color="accent">Good</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <app-sleeping-state></app-sleeping-state>
</div>
