<div id="column-chart">
  <div class="graph">
    <ul class="x-axis">
      <li><span>S</span></li>
      <li><span>M</span></li>
      <li><span>T</span></li>
      <li><span>W</span></li>
      <li><span>T</span></li>
      <li><span>F</span></li>
      <li><span>S</span></li>
    </ul>
    <ul class="y-axis">
      <li><span>23:00</span></li>
      <li><span>07:00</span></li>
    </ul>
    <div class="bars">
      <div class="bar-group" *ngFor="let data of chartData; let i = index">
        <div [class]="'bar bar-' + (i + 1) + ' stat-' + data.stat"  [style.height.%]="data.value">
        </div>
      </div>
    </div>
  </div>
</div>
