<div id="column-chart">
  <div class="graph">
    <ul class="x-axis">
      <li><span>S</span></li>
      <li><span>M</span></li>
      <li><span>T</span></li>
      <li><span>W</span></li>
      <li><span>T</span></li>
      <li><span>F</span></li>
      <li><span>S</span></li>
    </ul>
    <ul class="y-axis">
      <li><span>23:00</span></li>
      <li><span>07:00</span></li>
    </ul>
    <div class="bars">
      <div class="bar-group">
        <div class="bar bar-1 stat-1" style="height: 51%;">
        </div>
      </div>
      <div class="bar-group">
        <div class="bar bar-2 stat-2" style="height: 111%;">
        </div>
      </div>
      <div class="bar-group">
        <div class="bar bar-3 stat-2" style="height: 36%;">
        </div></div>
      <div class="bar-group">
        <div class="bar bar-4 stat-2" style="height: 64%;">
        </div>
      </div>
      <div class="bar-group">
        <div class="bar bar-5 stat-1" style="height: 28%;">
        </div>
      </div>
      <div class="bar-group">
        <div class="bar bar-6 stat-2" style="height: 104%;">
        </div>
      </div>
      <div class="bar-group">
        <div class="bar bar-7 stat-1" style="height: 94%;">
        </div>
      </div>
    </div>
  </div>
</div>
